@font-face {
  font-family: mtextFont;
  font-style: normal;
  src: local('Microsoft JhengHei');
}
@font-face {
  font-family: mtextFont;
  font-style: normal;
  src: url(../../../font/Futura-LT-Book.woff);
  unicode-range: U+000-5FF, U+1e00-1fff, U+2000-2300;
}
@font-face {
  font-family: mtitle2Font;
  src: local('Microsoft JhengHei');
}
@font-face {
  font-family: mtitle2Font;
  src: url(../../../font/Futura-LT-Bold.woff);
  unicode-range: U+000-5FF, U+1e00-1fff, U+2000-2300;
}
@font-face {
  font-family: mtitle1Font;
  src: url(../../../font/Futura-Koyu.woff);
}
.fontWorkTag {
  font-family: mtextFont;
  font-size: 11px;
  letter-spacing: 1.1px;
  line-height: 180%;
}
.fontWorkTitle {
  font-family: mtitle2Font;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 1.6px;
  text-transform: uppercase;
}
.fontAWorkTitle {
  font-family: mtitle1Font;
  font-weight: bold;
  font-size: 30px;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.fontWorkText {
  font-family: mtextFont;
  font-size: 16px;
  letter-spacing: 1.6px;
}
.fontLogoTitle {
  font-family: mtitle1Font;
  font-size: 40px;
  letter-spacing: 6px;
  text-transform: uppercase;
}
body {
  background: black;
  color: white;
  font-family: mmlabWebText;
  font-size: 1em;
  margin: 0;
  padding: 0;
}
a {
  color: inherit;
  text-decoration: inherit;
}
.center {
  display: block;
  margin: 0px auto;
}
#app {
  position: absolute;
  top: 0;
  width: 100%;
}
#_topLogo {
  padding-top: 35px;
  padding-bottom: 35px;
}
#_topLogo img {
  width: 32%;
}
.childPage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
@keyframes glitch-anim-left {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(-1px, 1px);
  }
  40% {
    transform: translate(-1px, -1px);
  }
  60% {
    transform: translate(1px, 1px);
  }
  80% {
    transform: translate(1px, -1px);
  }
  100% {
    transform: translate(0);
  }
}
@keyframes glitch-anim-right {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(1px, -1px);
  }
  40% {
    transform: translate(1px, 1px);
  }
  60% {
    transform: translate(-1px, -1px);
  }
  80% {
    transform: translate(-1px, 1px);
  }
  100% {
    transform: translate(0);
  }
}
.glitch {
  position: relative;
  color: white;
  z-index: 3;
}
.glitch::before,
.glitch::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.glitch:hover::before {
  animation: glitch-anim-left 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;
  color: red;
  text-shadow: -1px 0 red;
  z-index: -2;
}
.glitch:hover::after {
  animation: glitch-anim-right 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;
  color: cyan;
  text-shadow: 1px 0 cyan;
  z-index: -1;
}
.glitch_always {
  position: relative;
  color: white;
  z-index: 3;
}
.glitch_always::before,
.glitch_always::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.glitch_always::before {
  animation: glitch-anim-left 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;
  color: red;
  text-shadow: -1px 0 red;
  z-index: -2;
}
.glitch_always::after {
  animation: glitch-anim-right 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;
  color: cyan;
  text-shadow: 1px 0 cyan;
  z-index: -1;
}
.info {
  position: absolute;
  left: 0;
  width: 100%;
  min-height: 100vh;
  font-family: mtextFont;
  font-size: 16px;
  letter-spacing: 1.6px;
}
.info .infoWrap > div {
  padding: 10px 25px;
}
.info .logoWrap {
  font-family: mtitle1Font;
  font-size: 40px;
  letter-spacing: 6px;
  text-transform: uppercase;
  margin-top: 10px;
}
.info .contactInfo {
  display: inline-block;
}
.info .contactInfo div {
  padding: 5px 0px;
}
.info .contactInfo span:first-child {
  margin-right: 20px;
}
.info .socialLink {
  display: inline-block;
  vertical-align: top;
}
.info .socialLink a {
  margin-right: 20px;
  margin-left: 20px;
  display: inline-block;
}
.info .closeInfo {
  width: 100%;
}
.info .closeInfo .center {
  padding-bottom: 10px;
  padding-top: 10px;
}
.workList {
  width: 100vw;
  display: block;
}
.workList.hide {
  display: none;
}
.workList .workThumb {
  position: relative;
  width: 100%;
  min-height: 40vw;
  height: 25vh;
  overflow: hidden;
  color: white;
}
.workList .workThumb a {
  position: absolute;
  width: 100%;
  height: 100%;
  min-height: 100%;
  display: table;
  overflow: hidden;
}
.workList .workThumb a img {
  position: absolute;
  width: 100%;
  min-height: 100%;
  top: 0;
  bottom: 0;
  margin: auto;
}
.workList .workThumb a .shadow {
  position: absolute;
  width: 100%;
  top: 0;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.workList .workThumb a .descript {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  padding: 0 10px;
}
.workList .workThumb a .descript .tag {
  font-family: mtextFont;
  font-size: 11px;
  letter-spacing: 1.1px;
  line-height: 180%;
}
.workList .workThumb a .descript .titleEn {
  font-family: mtitle2Font;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 1.6px;
  text-transform: uppercase;
}
.workList .workThumb a .descript .titleCh {
  font-family: mtextFont;
  font-size: 11px;
  letter-spacing: 1.1px;
  line-height: 180%;
}
.aWork {
  position: absolute;
  width: 100vw;
  top: 0;
  left: 0;
  overflow: scroll;
  font-family: mtextFont;
  font-size: 16px;
  letter-spacing: 1.6px;
}
.aWork .wrap {
  width: 86.8%;
  max-height: 100%;
  margin-left: 6.6%;
  margin-right: 6.6%;
  margin-top: 25px;
}
.aWork > div,
.aWork img {
  width: 100%;
  margin-bottom: 10px;
}
.aWork img:last-child {
  margin-bottom: 25px;
}
.aWork .aworkTitle {
  margin-top: 10px;
  margin-bottom: 10px;
}
.aWork .aworkTitle div {
  margin-top: 10px;
}
.aWork .aworkTitle .english {
  font-family: mtitle1Font;
  font-weight: bold;
  font-size: 30px;
  letter-spacing: 3px;
  text-transform: uppercase;
  padding-right: 25px;
  margin-top: 0;
}
.aWork .aworkTitle .workClose {
  width: auto;
  position: absolute;
  top: 25px;
  right: 25px;
  z-index: 20;
}
.aWork .AWorkVideo {
  position: relative;
  padding-bottom: 56.25% !important;
  /* 16:9 */
  padding-top: 10px;
  height: 0;
  overflow: hidden;
}
.aWork .AWorkVideo iframe,
.aWork .AWorkVideo img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
