
body{
	background: black;
	color:white;
	font-family: mmlabWebText;
	font-size:1em;
	margin:0;
	padding:0;
}

.center{
	display: block;
	margin:0px auto;
}

#_topLogo{
	padding-top: 20px;
	padding-bottom: 20px;

	img{
		width:32%;
	}
}