
body{
	background: black;
	color:white;
	font-family: mmlabWebText;
	font-size:1em;
	margin:0;
	padding:0;
}

.center{
	display: block;
	margin:0px auto;
}

#_topLogo{
	padding-top: 20px;
	padding-bottom: 20px;

	img{
		width:32%;
	}
}
.childPage{
	position: absolute;
	top:0;
	left:0;
	width:100%;
}

// .app{
// 	position: absolute;
// 	width:100%;
// 	overflow: hidden;
// 	&.show_info{
// 		overflow: visible;
// 	}
// 	.wrap{
// 		display: block;
// 		&.hide{
// 			display: none;
// 		}
// 	}
// }