.workList{
	width:100%;
	padding-right: 6.6%;
	padding-left: 6.6%;
	padding-top: 20px;

	display: block;
	&.hide{
		display: none;		
	}
	
	.workThumb{
		
		display: inline-block;	
		width:42%;
		margin-bottom: 2.8vw;

		&.left{
			margin-left: 2.8vw;
		}


		img{
			width:100%;
		}
	}	

}