.workList{
	width:100vw;
	// padding-right: 6.6%;
	// padding-left: 6.6%;
	padding-top: 20px;

	display: block;
	&.hide{
		display: none;		
	}
	.wrap{
		// margin-left: 6.6vw;
		// margin-right: 6.6vw;	
	}
	
	.workThumb{
		position: relative;		
		padding-bottom: 45%;
		height: 0;
		width:100%;
		overflow: hidden;


		img{
			position: absolute;
			top:0;
			bottom:0;
			margin:auto;
			
			width:100%;
			
		}
	}	

}